* {
  box-sizing: border-box;
}

@font-face {
  font-family: jetbrains;
  src: url(fonts/JetBrainsMono-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #1e1e2e;
  display: grid;
  grid-template-rows: 1fr 3.3rem 1fr;
  grid-template-areas: "date" "input" ".";
}

input {
  grid-area: input;
  justify-self: center;
  padding: 1rem;
  width: 80%;
  font-size: 1rem;
  font-family: jetbrains;
  background-color: #181825;
  color: #cdd6f4;
  border: none;
  outline: none;
}
