@font-face {
  font-family: jetbrains;
  src: url(fonts/JetBrainsMono-Regular.ttf);
}

@font-face {
  font-family: jetbrains-bold;
  src: url(fonts/JetBrainsMono-Bold.ttf);
}

body {
  background-color: #1e1e2e;
  display: grid;
  grid-template-rows: 1fr 2rem 1fr;
  grid-template-columns: 1fr 18rem 1fr;
  grid-template-areas: ". websites ." ". input ." ". . .";
  place-content: center;
  height: 100vh;
}

a {
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: #cdd6f4;
  font-family: jetbrains;
}

mark {
  font-family: jetbrains-bold;
  background-color: transparent;
  color: #f38ba8;
}

input {
  grid-area: input;
  padding: 1rem;
  font-size: 1rem;
  font-family: jetbrains;
  background-color: #181825;
  color: #cdd6f4;
  border: none;
  outline: none;
}

#link-container {
  gap: 0.2rem;
  justify-self: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0.4rem;
  justify-content: end;
  grid-area: websites;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hidden {
  display: none;
}
